@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.links-container a {
  border: solid black;
  border-radius: 8px;
  padding: 4px 10px;
  text-decoration: none;
  display: inline-block;
}

.links-container a:hover {
  border-color: #0e73c9;
}

@media screen and (max-width: 600px) {
  .links-container a {
    padding: 6px 12px;
  }
}

.text-dark{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.home-tab{
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: bold;
  font-size: 19px;
  transition: color 0.3s ease;
}

.home-tab:hover {
  color: #0e73c9;
}

#offcanvasNavbar{
  width: 200px;
}

.social{
  display: flex;
  align-items: center;
}

.social a{
  margin-right: 10px;
  margin-left: 10px;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
}

.social a:hover {
  color: #0e73c9;
  fill: #0e73c9;
}

.page-name {
  font-family: Lobster, sans-serif;
  display: inline;
  font-size: 24px;
}

.title-cont {
  font-family: Lobster, sans-serif;
  display: inline;
  font-size: 24px;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}