
:root {
    --main-text-color: black;
    --box-shadow-color: 4px 4px 8px #d0d0d0, -4px -4px 8px #ffffff;
    --box-shadow-color2: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    --border-color: #dadada;
    --box-color: #E7F9FD;
}

.darkmode {
    --main-text-color: white;
    --box-shadow-color: inset 6px 6px 7px #38435d, -6px -6px 10px #0f172a;
    --box-shadow-color2: inset 6px 6px 7px #0f172a, -6px -6px 10px #38435d;
    --border-color: #1b253d;
    --box-color: #2A3B4D;
}
/* //////////////// */
.container-7 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 10px;
    background-color: var(--box-color);
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    position: relative;
    height: 442px;
}

.feed-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    min-width: 60%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.feed-back h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    margin-bottom: 35px;
    display: inline-flex;
    color: var(--main-text-color);
}

.input-wrapper {
    position: relative;
    display: flex;
    width: 500px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}

/* Input */
.email-input {
    width: 100%;
    padding: 15px 160px 15px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    outline: none;
    box-sizing: border-box;
}

.subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: #0E73C9;
}

.feed-back img {
    position: absolute;
    width: 409.54px;
    height: 400.08px;
    transform: rotate(45deg);
}

.feed-back-img-1 {
    position: absolute;
    bottom: 250px;
    left: -100px;
    transform: translateX(-150px);
}

.feed-back-img-2 {
    position: absolute;
    bottom: 100px;
    right: 70px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .feed-back h2 {
        font-size: 2.5rem;
    }

    .input-wrapper {
        max-width: 600px;
    }

    .feed-back-img-1,
    .feed-back-img-2 {
        display: block;
    }
}

@media (max-width: 576px) {
    .feed-back h2 {
        font-size: 1.5rem;
    }

    .input-wrapper {
        flex-direction: column;
    }

    .email-input {
        padding: 10px;
        border-radius: 30px 30px 0 0;
    }
    .subscribe-button {
        position: static;
        border-radius: 0 0 30px 30px;
        width: 100%;
    }
}
