@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --base-color: white;
    --but:white;
    --main-text-color: #111;
}

.darkmode {
    --base-color: #0f172a;
    --but: #313745;
    --main-text-color: white;
}

/* switch */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--but);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--main-text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

/* ///////////////////////////////////////// */
body{
    background-color: var(--base-color);
}
.card{
    position: relative;
    border-radius:20px; 
    padding: 10px;
    overflow: hidden;
}

.card::before
{
content:"";
position: absolute;
top: -50%;
left: -50%;
width: 680px;
height: 680px;
background:linear-gradient(0deg ,transparent,#45f3ff,#45f3ff);
transform-origin: bottom right;
animation:animate 6s linear infinite;
animation-delay: -3s;
z-index: 1; 
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

form {
    background: white;
    z-index: 2;
}
.form-floating{
    position: relative;
    box-shadow: none;
    border-bottom: 2px solid #111;
}

.form-floating input{
    width: 100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    border-color: #111;
    box-shadow: none;

}
.form-floating label{
    position: absolute;
    top: -10px;
    font-size: 1em;
    transition: 0.3s ease;
}
.form-floating span{
    position: absolute;
    right: 15px;
    top: -15px;
    font-size: 1.2rem;
    line-height: 57px;
}

.card::after
{
content:"";
position: absolute;
top: -50%;
left: -50%;
width: 680px;
height: 680px;
background:linear-gradient(0deg ,transparent,#45f3ff,#45f3ff);
transform-origin: bottom right;
animation:animate 6s linear infinite;
/* animation-delay: -3s; */
z-index: 1; 
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}