* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #222327 --text-color: #fff;
    --main-color: #29fd53
}

body {
    min-height: 100vh;
    color: #000;
}


header {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    justify-content: space-between;
    background: #fff;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}



.logo img {
    width: 100%;
    height: 100%;

}

.logo i {
    font-size: 28px;
    margin-right: 3px;

}

.logo span {
    color: #000;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;

}

.navbar a {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}




.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}



#menu-icon {
    font-size: 35px;
    color: #000;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 640px;
    margin: 0 auto;
    border-radius: 10px;
}


.home {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.home-text {
    background-color: rgba(231, 250, 254, 1);
    width: 620px;
    height: 640px;
    border-radius: 12px;
}

.image {
    width: 660px;
    height: 640px;
    background-image: url(./6edfd21071175cb80c78475e2182df7b.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
}

.text {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #fff;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);


}

.text p {
    font-size: medium;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.94px;
    color: #000;
}

.text span {
    padding-right: 8px;
}

.home-title {
    padding-left: 20px;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}

.home-description {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.6);

}

.time-eat {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.time-eat span {
    margin-right: 10px;
}

.text-time {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px;
}

.text-time span i {
    font-size: 20px;
}

.BMW {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    gap: 100px;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-top: 40px;
}

.person {
    display: flex;
    padding: 8px;
}

.person-eat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person p {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    color: #000;
}

.person span {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: rgba(0, 0, 0, 0.6);
}

.person img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0);
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 640px;
    margin: 0 auto;
    border-radius: 10px;
    gap: 90px;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}

.categories h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 39.2px;
    color: #000;
}

.categories button {
    background-color: rgba(231, 250, 254, 1);
    padding: 15px 15px;
    color: #000;
    border-radius: 20px;
    border: none;

}

.card-container {
    width: 180px;
    height: 152px;
    border-radius: 15px;
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.container-2 {
    display: flex;

}

.card {
    background-image: linear-gradient(to top, rgba(112, 130, 70, 0.1) 0%, rgba(112, 130, 70, 0) 100%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 180px;
    border-radius: 30px;
    margin-right: 30px;
}


.card img {
    position: relative;
    z-index: 1;
    top: -80px;
    width: 80px;
    height: 80px;
    margin: auto;
}

.card h2 {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.78px;
    letter-spacing: -2%;
}



.container-3-text p {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);


}

.container-3-text h2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    margin-bottom: 30px;
}

.container-3 {
    width: 95%;
    margin-left: 20px;
}


.card-test {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 50px;
    gap: 40px;
    justify-content: center;
}

.card-3 {
    background-image: linear-gradient(to top, rgba(231, 249, 253, 1) 0%, rgba(231, 249, 253, 0) 100%);
    border-radius: 30px;
    width: 410px;
    position: relative;
    padding: 20px;
    margin-bottom: 60px;

}


.card-3 img {
    position: relative;
    height: 250px;
    margin: 0 auto;
    width: 368px;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

.card-3 h2 {

    font-weight: 600;
    margin-top: 30px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -4%;
}

.Timer-restaurant {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.Timer-restaurant i {
    font-size: 18px;
    line-height: 18px;
    margin-right: 10px;
}

.Timer-restaurant p {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -2%;
    color: rgba(0, 0, 0, 0.6);
}

.card-icon {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: absolute;
    right: 30px;
    z-index: 2;
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 {
    width: 95%;
    margin: 0 auto;
}

.chef {
    display: flex;
    align-items: center;
    justify-content: center;

}

.chef-img {
    background-image: linear-gradient(to top, rgba(231, 249, 253, 1) 0%, rgba(231, 249, 253, 0) 100%);
    border-radius: 30px;
    width: 651px;
    height: 500px;
    position: relative;
}

.chef-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.chef-text {
    width: 600px;
    margin-left: 60px;

}

.chef-text h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    margin-bottom: 30px;
}

.span-text {
    color: #0E73C9;
    display: flex;

}

.chef-text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.container-5 {
    background-image: linear-gradient(to top, rgba(231, 249, 253, 1) 0%, rgba(231, 249, 253, 0) 100%);
    max-width: 95%;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 60px;
    margin-top: 60px;
    min-height: 700px;

}

.container-5 .insta-text h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    text-align: center;
}

.container-5 .insta-text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    text-align: center;
}

.card-container-5 {
    display: flex;
    flex-wrap: wrap;
}

.insta-card {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 11px;
    margin-top: 60px;
    position: relative;
    width: 23%;
    background-color: #fff;
}

.insta-card-header {
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;

}

.insta-card-text-1 {
    display: flex;

}

.insta-card-header img {
    border-radius: 50%;
    width: 24.75px;
    height: 24.75px;
    margin-right: 10px;


}

.insta-card-text {
    font-weight: 600;
    font-size: 10.05px;
    line-height: 13.92px;
    letter-spacing: -0.08px;

}

#img {
    width: 290px;
    height: 290px;

    object-fit: cover;

}

.insta-card-main {
    position: relative;
    margin: auto;
}

.img-span {
    background-color: #121212B2;
    padding: 4px;
    border-radius: 10.05px;
    position: absolute;
    left: 250px;
    top: 10px;
    color: #fff;

}

.insta-card-footer {
    display: flex;
    flex-direction: column;
    width: 100%;


}

.footer-1 {
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 7px;
    margin-left: 15px;

}

.footer-2 {
    padding: 7px;

}

.footer-2-1 {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;

}

.footer-2 p {
    font-weight: 600;
    font-size: 10.05px;
    line-height: 13.92px;
    letter-spacing: -0.08px;
    margin-left: 15px;

}

.footer-2 span {
    font-weight: 600;
    font-size: 10.05px;
    line-height: 13.92px;
    letter-spacing: -0.08px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 15px;

}

#img-foter {
    width: 20pxpx;
    height: 20px;
    border-radius: 50%;

}


.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    gap: 10px;
    border-radius: 15px;
    width: 229px;
    height: 60px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: -0.08px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 60px;
}

.container-6 {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 100px;
}

.container-6-text {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.container-6-text h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    margin-bottom: 30px;
}

.container-6-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

#card {
    width: 290px;
    height: 316px;
    border-radius: 15px;
    position: relative;
    background-image: none;
}

#card-test {
    display: flex;
    margin: auto;
}

#container-3 {
    width: 90%;
}

#card h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: -0.08px;

}

#card img {
    width: 290px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

#card .card-icon {
    right: 0;
    transform: translateX(15px);
}

.container-7 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 100px;
    background-color: #E7F9FD;
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    position: relative;
    height: 442px;
}

.feed-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    min-width: 60%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.feed-back h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    margin-bottom: 35px;
}

.feed-back p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.input-wrapper {
    position: relative;
    display: flex;
    width: 500px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}

/* Input */
.email-input {
    width: 100%;
    padding: 15px 160px 15px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.email-input::placeholder {
    color: #999;
}


.subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feed-back img {
    position: absolute;
    width: 409.54px;
    height: 400.08px;
    transform: rotate(45deg);

}

.feed-back-img-1 {
    position: absolute;
    bottom: 250px;
    left: -100px;
    transform: translateX(-150px);
}

.feed-back-img-2 {
    position: absolute;
    bottom: 100px;
    right: 70px;


}



footer {
    width: 100%;
    height: 100px;
    padding: 60px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-text h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: -0.08px;
    margin-bottom: 10px;
}

.footer-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

.footer-list {
    display: flex;
}

.footer-list ul {
    display: flex;
    gap: 30px;
}

.footer-list ul li {
    margin-bottom: 10px;
}

.footer-list ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}

.footer-end {
    margin-top: 25px;
    display: flex;
}

.footer-end-1 {
    display: flex;
    gap: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.footer-end-1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: -2%;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;

}

.footer-end-1 span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: -2%;
    color: rgba(163, 98, 1, 0.555);
    text-align: center;

}

.footer-icon {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

}

.footer-icon a {

    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
}


@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: all 0.2s ease;
        /* Slight improvement for better browser support */
    }

    .navbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: #222327;
        transform: translateY(5px);
    }

    .navbar a.active {
        color: #222327;
    }

    .navbar.open {
        right: 2%;
    }


}