@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.text-dark ,.under-meat {

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}   
.page-name {
  font-family: Lobster, sans-serif; 
display: inline;
 font-size:24px ;

}
 .title-cont{
font-family: Lobster, sans-serif; 
display: inline;
 font-size:24px ;

}

 
  .home-tab {
  padding-left: 20px;
  padding-right: 20px;
justify-content: center;
align-items: center;
  }


#offcanvasNavbar {
  width: 200px; 
}

  /* تأثير عند الضغط على الكرت */
  .card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* لتحديد المدة والطريقة */
  }

  /* تكبير الكرت عند المرور */
  .card-hover:hover {
    transform: scale(1.05); /* تكبير الكرت بنسبة 5% عند المرور */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظلال عند المرور */
  }

  /* تصغير الكرت عند الضغط */
  .card-hover:active {
    transform: scale(0.98); /* تصغير الكرت عند الضغط */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* تقليل الظلال عند الضغط */
  }
  .card {
    height: 300px;
    overflow-y: auto;
  }
