@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
.wrapper{
    position: relative;
    width: 410px;
    height: 440px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter:blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 440px; 
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 100;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.wrapper::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index:1 ;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.wrapper .form-box{
    position: absolute;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    background: white;
    z-index: 102;
}
.form-box h1 {
    font-size: 2em;
    color: #162938;
    text-align: center;

}
.input-box{
    position:relative ;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: top 0.3s ease;
}
.input-box #login-span-email,
.input-box #login-span-password {
    position: absolute;
    font-size: 10px;
    margin-left: 10px;
    color: red;
}
.input-box input:focus~label{
    top:10px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    color:#162938 ;
    font-weight: 600;
    padding: 0 35px 0 5px;
    margin-bottom: 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    margin: -1px 0 15px;
    display: flex;
    justify-content: space-between;
    
}
.remember-forgot  label input {
    accent-color: #162938;
    margin-right:  3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color:#162938 ;
    text-align: center;
    margin: 25px 0 10px;
    margin-top: 10px ;
}
.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
} 



