.text-dark,.under-meat  {

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}   

.under-card{

  font-family: "Inter", sans-serif;
  font-size: 15px;
cursor: pointer;
}
.heart-icon {
color: #000;
transition: color 0.3s ease;
}
.heart-icon:hover {
color: red;
}

.heart-icon:active {
color: red;

}
.heart-icon:focus{
  outline: none;
}

  /* تأثير عند الضغط على الكرت */
  .card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* لتحديد المدة والطريقة */
  }

  /* تكبير الكرت عند المرور */
  .card-hover:hover {
    transform: scale(1.05); /* تكبير الكرت بنسبة 5% عند المرور */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظلال عند المرور */
  }

  /* تصغير الكرت عند الضغط */
  .card-hover:active {
    transform: scale(0.98); /* تصغير الكرت عند الضغط */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* تقليل الظلال عند الضغط */
  }
  .card {
    height: 100% !important ;
    width: 100% !important;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }

  .card-img-top{
    height: 230px !important;

  }