@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Inter' , 'sans-serif';
    text-decoration: none;
}
.navbar-div a , .footer-icons a , .footer-list a{
    color :black;
    transition: all .50s ease;
}
.navbar-div a:hover , 
.footer-icons a:hover , 
.footer-list a:hover ,
.footer-icons-dark a:hover ,
.footer-list-dark a:hover{
    color:#0E73C9;
}
.footer-icons-dark a ,
.footer-list-dark a {
    color: #fff;
    transition: all .50s ease;
}
.toggle-btn-container {
    position: absolute;
    top: 20px; 
    right: 20px; 
    background-color:  #0f172a;
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.text-dark ,.under-meat {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}   
.page-name , .title-cont{
    font-family: 'Lobster', sans-serif; 
    display: inline;
    font-size:24px ;
}
.home-tab {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}
#offcanvasNavbar {
    width: 200px; 
}


/* items */
.item-span {
    font-size: 35px;
    color: #acaaaa99;
}

/* #0f172a bg

a49e9e99 # */

/* Subscribe Section Start */
.container-7 {
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 100px;
    background-color: #E7F9FD;
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    position: relative;
    height: 442px;
}
.feed-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    min-width: 60%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.feed-back h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    margin-bottom: 35px;
}
.feed-back p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}
.input-wrapper {
    position: relative;
    display: flex;
    width: 500px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}
.email-input {
    width: 100%;
    padding: 15px 160px 15px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.email-input::placeholder {
    color: #999;
}
.subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.feed-back img {
    position: absolute;
    width: 409.54px;
    height: 400.08px;
    transform: rotate(45deg);

}
.feed-back-img-1 {
    position: absolute;
    bottom: 200px;
    left: -190px;
    transform: translateX(-150px);
}
.feed-back-img-2 {
    position: absolute;
    bottom: 120px;
    right: 70px;
}
/* Subscribe Section End */


/* Footer Start */
footer {
    height: 100px;
}
.footer-container {
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
}
.footer-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.footer-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}
.footer-list ul ,
.footer-list-dark ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.footer-list ul li a ,
.footer-list-dark a{
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    margin-bottom: 20px;
    text-decoration: none;
}
.footer-end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.footer-end-1 {
    margin: auto;
}
.footer-end-1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: -2%;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.footer-end-1 span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: -2%;
    color: #faaa0b;
    text-align: center;
}
/* Footer End */

