@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


:root {
    --base-color: white;
    --main-text-color: black;
    --sec-text-color: #574f49;
    --box-color: #ffffff;
    --box-color1: #E7F9FD;
    --bb: rgba(0, 0, 0, 0.2);
}

.darkmode {
    --base-color: #0f172a;
    --main-text-color: white;
    --sec-text-color: #7a7676;
    --box-color: #2A3B4D;
    --box-color1: #2A3B4D;
    --bb: rgba(250, 250, 250, 0.6);
}

/* switch */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
}
@media(max-width:450px){
    #theme-switch{
        width: 25px;
        height: 25px;
    }
}
#theme-switch svg {
    fill: var(--main-text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}


/* تنسيق عام */
body {
    font-family: "Inter", sans-serif;
    line-height: 2.2;
    background-color: var(--base-color);
    margin: 0;
    padding: 0;
    color: #333;
}
/* /////////// */
/* القسم الرئيسي (Hero Section) */
.hero-section {
    display: flex;
    background-color: var(--box-color);
    padding: 9rem 2rem 4rem 2rem;
    margin-bottom: 6rem;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.pics {
    width: 400px;
    height: 350px;
    border-radius: 8px;
    margin-left: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-section h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(227, 187, 58, 0.856);
    margin-bottom: 1.5rem;
}

.hero-section p {
    font-size: 1.2rem;
    color: var(--main-text-color);
    text-align: justify;
}

/* قسم "Our Mission" و "Our Story" */
.hero-section {
    display: flex;
    background-color: var(--box-color);
    padding: 4rem 2rem;
    margin-bottom: 6rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.hero-zero{
    width: 550px;
    height: 350px;
    border-radius: 2.8px;
    margin-left: 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 9px 12px 15px #81acd9;
    background-color: white;
}



.pics {
    width: 400px;
    height: 350px;
    border-radius: 8px;
    margin-left: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pic2 {
    width: 1200px;
    height: 350px;
    border-radius: 5px;
    margin-left: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 9px 12px 15px rgba(227, 187, 58, 0.856);
    background-color: white;
}

.hero-section h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color:  #007bff;
    margin-bottom: 1.5rem;
}

.hero-section p {
    font-size: 1.2rem;
    color: var(--main-text-color);
    text-align: justify;
}

#mission,
#story {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--box-color);
}

#mission h2,
#story h2 {
    font-size: 2.5rem;
    color: #aa8d0c;
    margin-bottom: 1rem;
}

#mission p,
#story p {
    font-size: 1.1rem;
    color: var(--main-text-color);
    max-width: 700px;
    margin: 0 auto;
}
.navbar-mission {
    font-size: 6rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 9px 12px 15px rgba(227, 187, 58, 0.856); 
    background-color: white;  
}

/* Join Our Community*/
.cta-section {
    background-color: var(--box-color);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(14, 14, 14, 0.856);
}

.cta-section h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.cta-section p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.cta-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cta-section input {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cta-section button {
    padding: 0.5rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-section button:hover {
    background-color: #0056b3;
}

/* تحسينات إضافية واستجابة */
@media (max-width: 768px) {
    header .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-section {
        padding: 2rem;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .section h2 {
        font-size: 2rem;
    }

    .section p {
        font-size: 1rem;
    }
}

/* Newsletter Section */
.container-7 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 10px;
    background-color: var(--box-color1);
    overflow: hidden;
    border-radius: 50px;
    padding: 20px;
    position: relative;
    height: 442px;
}

.feed-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    min-width: 60%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.feed-back h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    letter-spacing: -4%;
    margin-bottom: 35px;
    display: inline-flex;
    color: var(--main-text-color);
}

.input-wrapper {
    position: relative;
    display: flex;
    width: 500px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 20px;
}

/* Input */
.email-input {
    width: 100%;
    padding: 15px 160px 15px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    outline: none;
    box-sizing: border-box;
}

.subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: #0E73C9;
}

.feed-back img {
    position: absolute;
    width: 409.54px;
    height: 400.08px;
    transform: rotate(45deg);
}

.feed-back-img-1 {
    position: absolute;
    bottom: 250px;
    left: -100px;
    transform: translateX(-150px);
}

.feed-back-img-2 {
    position: absolute;
    bottom: 100px;
    right: 70px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .feed-back h2 {
        font-size: 2.5rem;
    }

    .input-wrapper {
        max-width: 600px;
    }

    .feed-back-img-1,
    .feed-back-img-2 {
        display: block;
    }
}

@media (max-width: 576px) {
    .feed-back h2 {
        font-size: 1.5rem;
    }

    .input-wrapper {
        flex-direction: column;
    }

    .email-input {
        padding: 10px;
        border-radius: 30px 30px 0 0;
    }
    .subscribe-button {
        position: static;
        border-radius: 0 0 30px 30px;
        width: 100%;
    }
}

/* //////////////////// */
.home-tab {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}

#offcanvasNavbar {
    width: 200px;
}

/* تأثير عند الضغط على الكرت */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* لتحديد المدة والطريقة */
}

/* تكبير الكرت عند المرور */
.card-hover:hover {
    transform: scale(1.05);
    /* تكبير الكرت بنسبة 5% عند المرور */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* إضافة ظلال عند المرور */
}

/* تصغير الكرت عند الضغط */
.card-hover:active {
    transform: scale(0.98);
    /* تصغير الكرت عند الضغط */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* تقليل الظلال عند الضغط */
}

.card {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.card-img-top {
    height: 230px !important;
}

/* Footer */

footer {
    width: 100%;
    height: 100px;
    padding: 1.5rem;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--bb) solid 2px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

.page-name {
    font-family: Lobster, sans-serif;
    display: inline;
    font-size: 24px;
    color: var(--main-text-color);
    text-decoration: none;
}

.footer-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--sec-text-color);
}

.footer-list {
    display: flex;
    margin-right: 20px;
}

.social-footer {
    display: flex;
    align-items: center;
}

.social-footer a {
    margin-right: 10px;
    margin-left: 10px;
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.social-footer a:hover {
    color: #0e73c9;
    fill: #0e73c9;
}

@media (max-width: 800px) {
    .footer-list {
        display: none;
    }
}
.page-icon ul li {
    display: inline-block;
    margin: 0 6px;
}

.page-icon ul li:last-child {
    margin-right: 0;
}

.page-icon ul li:first-child {
    margin-left: 0;
}

.page-icon ul li a {
    width: 70px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.page-icon ul li a:hover {
    color: #0e73c9 !important;
}

.footer-end {
    margin-top: 25px;
    display: flex;
}

.footer-end-1 {
    display: flex;
    gap: 10px;
    margin: auto;
    margin-bottom: 40px;
}

.footer-end-1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: -2%;
    color: var(--main-text-color);
    text-align: center;
}

.footer-end-1 span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.68px;
    letter-spacing: -2%;
    color: rgba(163, 98, 1, 0.555);
    text-align: center;

}

/* \\\\\\\\\\\\\\\\\\\\\\\\\the responsive////////////////////////////*/

@media (max-width: 576px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .navbar {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero-section {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .hero-section h1 {
        font-size: 1.8rem;
    }

    .hero-section p {
        font-size: 0.9rem;
    }

    .pics, .hero-zero, .pic2 {
        width: 90%;
        height: auto;
        margin: 0 auto 1rem auto;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    .navbar-mission {
        font-size: 3rem;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .pics, .hero-zero, .pic2 {
        width: 70%;
        height: auto;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-list {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hero-section {
        padding: 4rem 3rem;
    }

    .pics, .hero-zero, .pic2 {
        width: 50%;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }
}